.main{
    background-image: url("../../assets/users.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding-left: 330px;
    padding-bottom: 150px;
}

.form-group{
   background-color: white;
}

.form-box{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    border: 1px solid white;
}

.form-box input{
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

.form-box select{
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

.form-box input:focus{
    box-shadow: 0 0 0;
    border: 1px solid #f6288c;
}

.register-btn{
    background-image: linear-gradient(to right, #63118b, #f80f88,#f80f88);
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    font-size: 20px;
}

.register-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.text-danger {
    color: red;
}

